---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/dudes.png" />
    <meta name="viewport" content="width=device-width" />
    <title>Dudes Money - Launching Soon</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700;400&display=swap" rel="stylesheet" />
  </head>
  <body class="bg-white min-h-screen flex flex-col justify-between font-inter">
    <main class="flex flex-col items-center justify-center flex-1">
      <img src="/dudes.png" alt="Dudes Money Logo"
        class="w-20 h-20 md:w-32 md:h-32 object-contain mb-5 shadow-xl rounded-3xl" />
      <h1 class="text-4xl md:text-6xl font-bold text-black-900 text-center mb-4 tracking-tight drop-shadow-sm">
        Discover new ways to <br> bank, pay, and invest.
      </h1>
      <div class="text-xl md:text-2xl text-black-700 text-center mb-6 font-medium max-w-xl">
        Hundreds of wallets, fintech, exchanges, and <br> crypto-related products in one place.
      </div>
      <div class="text-base md:text-lg text-gray-500 text-center mb-2 max-w-md">
        Launching soon.
      </div>
    </main>
    <footer>
      <div class="flex flex-col items-center justify-center relative bottom-9">
        <span class="text-gray-700 text-base mb-2">Follow us</span>
        <a href="https://x.com/dudesmoney_" target="_blank" rel="noopener">
          <img src="/x.png" alt="X Social Logo" class="w-7 h-7"/>
        </a>
      </div>
    </footer>
  </body>
</html>