---
import "../styles/global.css";
import Analytics from '@vercel/analytics/astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/dudes.png" />
    <meta name="viewport" content="width=device-width" />
    <title>Dudes Money - Launching Soon</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700;400&display=swap" rel="stylesheet" />
    <Analytics />
  </head>
  <body class="bg-black min-h-screen flex flex-col justify-between font-inter">
    <main class="flex flex-col items-center justify-center flex-1">
      <img src="/text.svg" alt="Dudes Money Logo"
        class="w-40 h-40 md:w-52 md:h-32 mb-5" />
      <h1 class="text-4xl md:text-6xl font-bold text-white text-center mb-4 tracking-tight drop-shadow-sm">
        Discover new ways to
        <span class="block md:inline">bank, pay, and send</span>
      </h1>
      <div class="text-xl md:text-2xl text-gray-300 text-center mb-6 font-medium">
        Hundreds of fintech and cryptocurrency services in one place
      </div>
      <div class="text-base md:text-lg text-gray-300 text-center mb-2 max-w-md">
        Launching soon
      </div>
    </main>
    <footer>
      <div class="flex flex-col items-center justify-center relative bottom-9">
        <span class="text-gray-300 text-base mb-3">Follow us</span>
        <a href="https://x.com/dudesmoney_" target="_blank" rel="noopener">
          <img src="/x.png" alt="X Social Logo" class="w-9 h-9"/>
        </a>
      </div>
    </footer>
  </body>
</html>